#### 1. What user posted this job tweet? 

`SELECT name FROM twitter_user
WHERE twitter_user.user_id = (SELECT user_id FROM job_tweets
WHERE job_tweets.tweet_id = 1589411884968644615);`

![title](images/query1.png)

#### 2. What user posted a tweet about the event?

`SELECT name FROM twitter_user
WHERE twitter_user.user_id = (SELECT user_id FROM event_tweets
WHERE event_tweets.tweet_id = 1589528329060700160);`

![title](images/query2.png)

#### 3. When did the user post this tweet about the job? 

`SELECT date_posted FROM job_tweets
WHERE job_tweets.tweet_id = 1589411884968644615;`

![title](images/query3.png)

#### 4.When did the user post this tweet about the event? 

`SELECT date_posted FROM event_tweets
WHERE event_tweets.tweet_id = 1589528329060700160;`

![title](images/query4.png)

#### 5.What keywords/ hashtags are popular? 

`SELECT tag_name
FROM twitter_tag 
GROUP BY tag_name 
ORDER BY COUNT(*) DESC LIMIT 5;`

![title](images/query5.png)

#### 6.What job tweets are popular? 

`SELECT *
FROM job_tweets    
ORDER BY like_count DESC LIMIT 5;`

![title](images/query6.png)

#### 7.What event tweets are popular? 

`SELECT *
FROM event_tweets    
ORDER BY like_count DESC LIMIT 5;`

![title](images/query7.png)

#### 8.What job tweets have this user posted in the past 24 hours? 

`SELECT *
FROM job_tweets    
WHERE date_posted >= DATE_ADD(CURDATE(), INTERVAL -1 DAY) AND date_posted < DATE_ADD(CURDATE(), INTERVAL 0 DAY)
AND user_id = 1298682524235739136;`

![title](images/query8.png)

#### 9.What event tweets have this user posted in the past 24 hours? 

`SELECT *
FROM event_tweets    
WHERE date_posted >= DATE_ADD(CURDATE(), INTERVAL -1 DAY) AND date_posted < DATE_ADD(CURDATE(), INTERVAL 0 DAY)
AND user_id = 58508576;`

![title](images/query9.png)

#### 10.How many job tweets have this user posted in the past 24 hours? 

`SELECT user_id, COUNT(*) as tweetCount
FROM job_tweets    
WHERE date_posted >= DATE_ADD(CURDATE(), INTERVAL -1 DAY) AND date_posted < DATE_ADD(CURDATE(), INTERVAL 0 DAY)
AND user_id = 1298682524235739136;`

![title](images/query10.png)

#### 11.How many event tweets have this user posted in the past 24 hours? 

`SELECT user_id, COUNT(*) as tweetCount
FROM event_tweets    
WHERE date_posted >= DATE_ADD(CURDATE(), INTERVAL -1 DAY) AND date_posted < DATE_ADD(CURDATE(), INTERVAL 0 DAY)
AND user_id = 58508576;`

![title](images/query11.png)

#### 12.When did this user join Twitter? 

`SELECT date_joined 
FROM twitter_user
WHERE user_id = 58508576;`

![title](images/query12.png)